<!DOCTYPE html>
<html>
<head>
    <title>Supplier Portal Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Supplier Portal</h1>
        
        <div class="card mt-4">
            <div class="card-header">
                <h5>Commercial Conditions</h5>
            </div>
            <div class="card-body">
                <!-- Commercial Conditions content goes here -->
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h5>Product Templates</h5>
            </div>
            <div class="card-body">
                <!-- Product Templates content goes here -->
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h5>Assortments</h5>
            </div>
            <div class="card-body">
                <!-- Assortments content goes here -->
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h5>Commercial Proposals</h5>
            </div>
            <div class="card-body">
                <!-- Commercial Proposals content goes here -->
            </div>
        </div>
        
        <div class="card mt-4">
            <div class="card-header">
                <h5>Enter Product Applications</h5>
            </div>
            <div class="card-body">
                <!-- Enter Product Applications content goes here -->
            </div>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
