{{ template "header" }}
    <div id="container">

        

        <div style="max-width: 530px;  margin: 100px auto auto auto; ">
            <h1>Регистрация в «Магнум»</h1>
        </div>

        <div style="max-width: 530px;  margin: 100px auto auto auto; font-size: 20px;">
            <form method="POST" action="/register/complete_registration">
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Завершить регистрацию</button>
                </div>
               
            </form>
        </div>
    </div>    
{{ template "footer" }}