{{ template "header" }}
   
<div id="container">
  <div style="max-width: 530px;  margin: 100px auto auto auto; ">
    <h1>Регистрация в «Магнум»</h1>
  </div>

   <form method="POST" action="/register/enter_password"  class="registration-form row g-3">
     <div class="col-md-6">
       <label class="form-label">Введите пароль</label>
       <input name="password" type="text" class="form-control" id="phoneNumber" 
             value="{{ .regForm.Password }}" required>
             <div  class="invalid-feedback">
               Не заполнено обязательное поле
           </div>
     </div>
     <div class="col-md-6">
       <label class="form-label">Подтвердите пароль</label>
       <input name="confirmation_password" type="password" class="form-control" id="orgSite"
             value="{{ .regForm.ConfirmationPassword }}"   required>
             <div  class="invalid-feedback">
               Не заполнено обязательное поле
             </div>
     </div>

     <div class="col-md-6">
       <button type="submit" class="btn btn-primary">Следующий шаг</button>
     </div>
   </form>
</div>

{{ template "footer" }}