{{ template "header" }}

<div id="container">
  <div style="max-width: 530px;  margin: 100px auto auto auto; ">
    <h1>Регистрация в «Магнум»</h1>
  </div>

  <form method="POST" action="/register/enter_password" class="registration-form row g-3">
    <div class="col-md-6">
      <label class="form-label">Введите пароль</label>
      <input name="password" type="password" class="form-control" id="password" value="{{ .regForm.Password }}">
      <div class="invalid-feedback" id="error-password">
        Не заполнено обязательное поле
      </div>
    </div>
    <div class="col-md-6">
      <label class="form-label">Подтвердите пароль</label>
      <input name="confirm_password" type="password" id="confirm_password" class="form-control" id="orgSite"
        value="{{ .regForm.ConfirmationPassword }}">
      <div class="invalid-feedback" id="error-confirm_password">
        Не заполнено обязательное поле
      </div>
    </div>

    <div class="col-md-6">
      <button id="form-submit-button" type="button" class="btn btn-primary">Следующий шаг</button>
    </div>
  </form>
</div>

<script src="/web/js/registration/enter_password.js" crossorigin="anonymous"></script>



{{ template "footer" }}