{{ template "header" }}

    <div id="container">
         <div style="max-width: 530px;  margin: 100px auto auto auto; ">
           <h1>Регистрация в «Магнум»</h1>
         </div>

          <form method="POST" action="/register/organization_additional_info"  class="registration-form row g-3">
            <div class="col-md-6">
              <input type="text" class="form-control" id="phoneNumber" 
                    value="{{ .RegistrationForm.OrgPhone }}" placeholder="Телефон организации" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="orgSite"
                    value="{{ .RegistrationForm.OrgSite }}"  placeholder="Сайт организации" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <input type="text" class="form-control" id="iinbin" 
                    value="{{ .RegistrationForm.IIN_BIN }}" placeholder="ИИН/БИН" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="accoutNumber"
                    value="{{ .RegistrationForm.OrgSite }}"  placeholder="Номер счета/IBAN" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <input type="text" class="form-control" id="bic" name="bic"
                    value="{{ .RegistrationForm.Bic }}" placeholder="БИК" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="kbe"
                    value="{{ .RegistrationForm.KBE }}"  placeholder="КБЕ" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <select aria-placeholder="Форма юридического лица"  name="form_of_law" class="form-control" id="form_of_law">
                <option value="" aria-placeholder="Форма юридического лица"></option>
                <option value="1">ИП</option>
                <option value="2">ТОО</option>
                <option value="3">АО</option>
              </select>
                    <div  class="invalid-feedback">
                      Поле телефон обязательно для заполнения
                  </div>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control is-valid" id="orgSite"
                    value="{{ .RegistrationForm.OrgSite }}"  placeholder="Сайт организации" required>
                    <div  class="invalid-feedback" >
                      Не заполнено обязательное поле
                    </div>
            </div>
          </form>
    </div>

{{ template "footer" }}