{{ template "header" }}
    <div id="container">


      
      <div style="max-width: 530px;  margin: 100px auto auto auto; ">
        <h1>Регистрация в «Магнум»</h1>
    </div>

   
    
        <form method="POST" action="/register/resident_details" style="max-width: 530px;  margin: 200px auto auto auto;">
            <div class="mb-3">
              <label for="org_name" class="form-label">Наименование организации</label>
              <input type="text" class="form-control" id="org_name" name="org_name" placeholder="Наименование организации" value="{{ .orgName }}"/>
            </div>
            <div class="mb-3">
              <label for="org_address" class="form-label">Адрес регистрации</label>
              <input type="text" class="form-control" id="org_address" name="org_address" placeholder="Адрес регистрации" value="{{ .orgAddress }}"/>
            </div>
            <div class="mb-3">
              <label for="form_of_law" class="form-label">Форма юридического лица</label>
              <select aria-placeholder="Форма юридического лица" class="form-control" id="form_of_law" name="form_of_law">
                <option value="" aria-placeholder="Форма юридического лица"></option>
                <option value="1">ИП</option>
                <option value="2">ТОО</option>
                <option value="3">АО</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Следующий шаг</button>
          </form>
    </div>

{{ template "footer" }}