{{ template "header" }}

    <div id="container">
         <div style="max-width: 530px;  margin: 100px auto auto auto; ">
           <h1>Регистрация в «Магнум»</h1>
         </div>

          <form method="POST" action="/register/org_additional_info"  class="registration-form row g-3">
            <div class="col-md-6">
              <label class="form-label">Телефон организации:</label>
              <input type="text" class="form-control" id="phoneNumber" 
                    value="{{ .regForm.OrgPhone }}" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Сайт организации:</label>
              <input type="text" class="form-control" id="orgSite"
                    value="{{ .regForm.OrgSite }}"   required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">ИИН/БИН:</label>
              <input type="text" class="form-control" id="iinbin" 
                    value="{{ .regForm.IINBIN }}" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Номер счета/IBAN:</label>
              <input type="text" class="form-control" id="accoutNumber"
                    value="{{ .regForm.OrgSite }}"   required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">БИК:</label>
              <input type="text" class="form-control" id="bic" name="bic"
                    value="{{ .regForm.BIC }}" required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                  </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">КБЕ:</label>
              <input type="text" class="form-control" id="kbe"
                    value="{{ .regForm.KBE }}"  required>
                    <div  class="invalid-feedback">
                      Не заполнено обязательное поле
                    </div>
            </div>

            <div class="col-md-6">
              <label class="form-label">Форма юридического лица:</label>
              <select aria-placeholder="Форма юридического лица" name="form_of_law" class="form-control" id="form_of_law">
                <option value="0">---</option>
                <option value="1">ИП</option>
                <option value="2">ТОО</option>
                <option value="3">АО</option>
              </select>
                    <div  class="invalid-feedback">
                      Поле телефон обязательно для заполнения
                  </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Сайт организации:</label>
              <input type="text" class="form-control is-valid" id="orgSite"
                    value="{{ .regForm.OrgSite }}"  required>
                    <div  class="invalid-feedback" >
                      Не заполнено обязательное поле
                    </div>
            </div>
            <div class="col-md-6">
              <button type="submit" class="btn btn-primary">Следующий шаг</button>
            </div>
          </form>
    </div>

{{ template "footer" }}