{{ template "header" }}
<div id="container">
    <div style="max-width: 530px;  margin: 100px auto auto auto; ">
        <h1>Регистрация в «Магнум»</h1>
    </div>

    <div style="max-width: 530px;  margin: 100px auto auto auto; font-size: 20px;">
        <span>
            Ваши данные отправлены на подтверждение. Обычно это
            занимает около двух суток и вы получите уведомление по
            электронной почте. После этого вы получите доступ к системе.
        </span>
        <form method="POST" action="/register/waiting">
            <button type="submit" name="resident_type" value="non_resident" class="btn btn-primary">Вернуться к форме
                входа</button>
        </form>
    </div>
</div>
{{ template "footer" }}