{{ template "header" }}
 
    <div id="container">
        <form id="login-form" method="POST" action="/login" style="max-width: 330px;  margin: 200px auto auto auto;">
            {{ range  .session.Flashes }}
            <div class="mb-3 alert alert-danger">{{ . }}</div>
            {{ end }}
            <div class="mb-3">
              <label for="username" class="form-label">Email:</label>
              <input type="text" class="form-control" id="username" name="username" value=""/>
              <div id="username-valid" class="valid-feedback">
                Поле заполнено корректно
              </div>
              <div id="username-error" class="invalid-feedback">
                Поле обязательно к заполнению
              </div>
              <div id="username-email-error" class="invalid-feedback">
                В поле должен быть прописан email
              </div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" name="password" value=""/>
              <div id="password-valid" class="valid-feedback">
                Поле заполнено корректно
              </div>
              <div id="password-error" class="invalid-feedback">
                Поле обязательно к заполнению
              </div>
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Remember me</label>
            </div>
            <button type="button" class="btn btn-primary">Login</button>
            <button id="goto_registration" type="button" class="btn btn-primary">Registration</button>
          </form>
     </div>

     <script src="/web/js/login.js" crossorigin="anonymous"></script>
  
{{ template "footer" }}
